html{
    text-align: center;
}

.api-one { 
    display: inline-block;
    position: relative;
    margin-right: 10px;
 	text-align: center;
}


.api-two { 
    display: inline-block; 
    margin-right: 10px;
    position: relative;
    }

 .api-three { 
    display: inline-block;
    margin-right: 10px;
    position: relative;
}


 .notes-button { 
    display: inline-block;
    position: relative;
}

body{
    background-color: papayawhip;
}

img{
	height: 155px;
    width: 155px;
}

.button{ 

    color: white;


 }
.clicked:focus{ 
    color: blue;

 }


.nyt-logo {
    width: 1500px;
    position: relative;
        left: 325px;


}

.nyt-times-headline-one {
    background-color: grey;
}
    


.nyt-times-headline-one-text {
    font-size: 30px;
    position: relative;
        left: 625px;

}

.nyt-times-headline-two {
    background-color: lightgrey;
    
    }

.nyt-times-headline-two-text {
font-size: 30px;
    position: relative;
        left: 625px;

}    
.nyt-times-headline-three {
    background-color: grey;
    
}

.nyt-times-headline-three-text {
font-size: 30px;
    position: relative;
        left: 625px;

}

.nyt-times-headline-four {
    background-color: lightgrey;

}

.nyt-times-headline-four-text {
    font-size: 30px;
    position: relative;
        left: 625px;

}
.nyt-times-headline-five {
    background-color: grey;
    


}

.nyt-times-headline-five-text {
    font-size: 30px;
    position: relative;
        left: 625px;

}

.notesForm{
    margin-top: 20px;
}

.info {
    font-size: 25px;
    position: relative;
    left: 400px;


}

.logout{
    margin-top: 10px;
}

.home-button { 
    display: block;
    width: 300px;
    height: 75px;
    position: relative;
    top: 900px;
    left: 900px;

 }

 .toggle-page{
 	margin-top: 150px;
 }
